@import '../../../assets/styles/variables.scss';

.header {
	height: 62.8px;
	width: 100%;
	position: fixed;
	padding: 12px 0;
	background-color: $primary-color;
	color: #fff;
	z-index: 50;
	& > nav {
		height: 100%;
		& > div {
			height: 100%;
		}
	}
}

.navlink {
	font-weight: 600;
	font-size: 20px;
	&:hover {
		text-decoration: underline;
	}
}

.block {
	display: flex;
	align-items: center;
	gap: 20px;
	height: 100%;
}
.headerBlock {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}
.themeSwitchWrapper {
	display: flex;
	gap: 10px;
	align-items: center;
}
